DOMAIN=your-domain.example.com
SEED_BASIC_AUTH_USER=seeduser
SEED_BASIC_AUTH_HASH='PASTE_CADDY_BCRYPT_HASH_FOR_SEED_PASSWORD'
ADMIN_BASIC_AUTH_USER=admin
ADMIN_BASIC_AUTH_HASH='PASTE_CADDY_BCRYPT_HASH_FOR_ADMIN_PASSWORD'
